body { padding: 0; margin: 0; }

#carousel { display: block; margin: 0 auto; border: 2px solid; height: 400px; width: 600px; overflow: hidden; }

#carousel ul { margin: 0; padding: 0; width: 3000px; }

#carousel ul li { list-style: none; width: 600px; float: left; }
